appwrite_endpoint=""
appwrite_project_id=""
appwrite_function_id=""
google_server_client_id=""
APPWRITE_DATABASE_ID=""
APPWRITE_COLLECTION_ID=""
APPWRITE_BUCKET_ID="
SENTRY_DSN=""
APPWRITE_PROFILE_IMAGES_FUN=""
APPWRITE_PROFILE_IMAGES_BUCKET=""
SENTRY_ORG=""
SENTRY_PROJECT=""